html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #171717;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-control {
  color: #171717;
}

.gmuRjU {
  color: #171717;
}

a {
  font-weight: 500;
  color: #3b82f6;
  text-decoration: inherit;
  transition: color 150ms ease;
}

a:hover {
  color: #2563eb;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.fill-area {
  display: table;
  z-index: -10000000;
  position: absolute;
  top: -320000px;
  left: -320000px;
  width: 640000px;
  height: 640000px;
}

.background {
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(#ccf9e4 3.2px, transparent 3.2px),
    linear-gradient(90deg, #ccf9e4 3.2px, transparent 3.2px),
    linear-gradient(#ffe5e5 1.6px, transparent 1.6px),
    linear-gradient(90deg, #ffe5e5 1.6px, #ffffff 1.6px);
  background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
  background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px,
    -1.6px -1.6px;
}

.asmblr-context-menu {
  background: #D2E8E3;
  border: 1px solid #2C3532;
  color: #646464;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 9999;
  font-family: sans-serif;
  min-width: 180px;
}

.asmblr-context-menu-search {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.asmblr-context-menu-item {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.2s;
}

.asmblr-context-menu-item:hover {
  background-color: #f2f2f2;
}

.asmblr-context-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  background: #D2E8E3;
  border: 1px solid #2C3532;
  border-radius: 4px;
  padding: 6px;
  margin-left: 2px;
}

.asmblr-context-menu-closed {
  padding: 0 !important;
  border: 0 !important;
  min-width: 0 !important;
  box-shadow: none !important;
  overflow: hidden;
}